.commonality{
	width: 75%;
}
input{
	text-align: center;	
	border-style: solid;
	border-width: 1px; 		
	border-color: rgb(171,173,179);
	font-family: "Segoe UI", "Lucida Grande", Arial, Verdana;
}
input.disabled {
	color: white;
	background-color: rgb(112,115,124);
}
input.enabled{
	color: black;
	background-color: white;
}
input.enabled:hover{
	background-color: rgb(73,133,39);
	color: white;
}
span#showtimeDummy{
	margin-top: 20px;
}
span#showtimeCustomError{
	color: red;
}
span.rightSpecialHere{
	float: right;
	min-height: 15px;
	min-width: 100px;
	height: auto;	
	width: 49%;
	overflow: auto;
	text-align: center;
	margin-left: 15px;
	padding-top: 10px;
	padding-left: 10px;
	border-style: solid;
	border-color: #D8E4D6;
	border-width: 0px 0px 0px 2px;
}
span#showtimeWaiting{
	display: none;
}
span#howtimeSelectionReal{
	display: none;
}
span select{
	width: 80%;
}