.commonality{
	width: 75%;
}
.ayokongDefaultAngItsuraNgButton{
	text-align: center;	
	border-style: none; 
	border-width: 0px; 	
	font-family: "Segoe UI", "Lucida Grande", Arial, Verdana;
}
.ayokongDefaultAngItsuraNgButton:hover{
	background-color: rgb(73,133,39);
	color: white;
	
}
input.even{
	background-color: rgb(243,241,242);
}
input.odd{
	background-color: rgb(216,214,215);
}
table.schedulesCentral tbody tr td{
	padding: 10px;
}
p.titleDescriptor{
	font-size: 0.6em;
}
div.attentionNeeded{
	background-color: red;
}
div#containingFeaturedTable{
	position: relative; 
	top: -110px; 
	z-index: 9
}
div#containingSeatMapSelection{
	position: relative;  
	z-index: 10;
	height: 50px; 
	width: 33%; 
	left: -12px; 
	float: right; 
	text-align: center; 
	vertical-align: top; 	
	border-style: solid; 
	border-width: 1px; 
	border-color: gray; 	
	padding: 20px;
}
div#containingSeatMapSelection select#seatMap{
	width: 60%; 
}