fieldset
{
	border: none;
}
.fieldsCollection{
	margin:2.3em 1.5em;
	padding-top: 10px;	
	position:relative
}
.row label{
	width:15.8em;
	display:inline-block;
	text-align:right;
	padding-right: 5px;
	zoom:1;
	*display:inline;
}
.row div{
	display:inline-block;
	zoom:1;
	*display:inline;
}

fieldset div.row div.label{
	min-width: 210px;
	width: auto;
	padding-right: 20px;
}
fieldset div.row div.label span.critical{
	z-index: 100;
}
div.msgContainer{
	text-align: left;
	overflow: auto;
}
fieldset.uplb div.msgContainer{
	margin-left: 230px;
	padding: 10px;
}