div#essentialButtonsArea
{	
	clear: both;	
	margin-top: 3em;
	padding-right: 10px;
	text-align: center;
}
a.button {
	display: block;
	background-color: rgb(73,133,39);
	width: 132px;
	height: 28px;
	margin: 5px auto;
	padding: 5px 0 0 0;
	text-align: center;
	font-family: "Segoe UI", Calibri, Verdana, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: white;
	float:right;
	margin-left: 2px;
}
a#button2{
	background-color: rgb(236,165,0);
}
a#buttonOK:hover, a#buttonOK_special:hover{
	background-color: rgb(126,126,126);
}
a#buttonReset:hover, a#buttonReset_special:hover{
	background-color: rgb(126,126,126);
}