.commonality{
	width: 75%;
}
.ayokongDefaultAngItsuraNgButton{
	text-align: center;	
	border-style: none; 
	border-width: 0px; 	
	font-family: "Segoe UI", "Lucida Grande", Arial, Verdana;
}
.ayokongDefaultAngItsuraNgButton:hover{
	background-color: rgb(73,133,39);
	color: white;
	
}
input.even{
	background-color: rgb(243,241,242);
}
input.odd{
	background-color: rgb(216,214,215);
}
table.schedulesCentral tbody tr td{
	padding: 10px;
}