div.metrotile{
	min-width: 123px; 
	min-height: 123px; 
	height: auto; 
	width: auto;
	padding: 15px; 
	color: white; 
	text-align: center;
	float: left;
}
div.metrotile:first-child{
	background-color: rgb(193,58,0); 
}
div.metrotile:nth-child(2){
	background-color: rgb(144,169,48);
}
div.metrotile:nth-child(3){
	background-color: rgb(107,70,39);
}
div.metrotile:nth-child(4){
	background-color: rgb(129,95,176);
}
div.metrotile:hover{
	background-color: green;
}
div.metrotile img{
	border-width: 0px;
}
.homePage_accordion_container
{
	width: 90%;
	margin-top: 10px;
	padding-bottom: 20px;
	min-height: 50%;
	height: 90%;
	position: inherit;
}
.accordion_innercontent_lefthalf
{	
	height: 100%;
	width: 50%;	
	border-style: solid;
	border-width: 1px;
	float: left;
	border-color: blue;
}
.accordion_innercontent_righthalf
{
	height: 100%;	
	margin-left: 51%;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: red;
}
div #ticketSelectionDiv
{
	border-width: 1px; border: solid; border-color: gray;
}
div.homepageSpecial{
	min-height: 470px;
	height: auto;
	overflow: auto;
}