div.mtile1{
	background-color: rgb(193,58,0); 
}
div.mtile2{
	background-color: rgb(144,169,48);
}
div.mtile3{
	background-color: rgb(107,70,39);
}
div.mtile4{
	background-color: rgb(129,95,176);
}
div.mtile5{
	background-color: rgb(117,23,100);
}
div.mtile6{
	background-color: rgb(218,134,21);
}
div.mtile7{
	background-color: rgb(78,178,184);
}